#loginchoice {
  position: absolute;
  top: 50%;
}
p {
  color: white;
  margin-top: 30%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 5%;
}
#login {
  background: #F7C243;
  margin: 2%;
 
}
#newuser {
  background: #F7C243;
  margin: 2%;
  
}
#loginbuttons {
  width: 62%;
  margin-left: auto;
  margin-right: auto;
}
.container {
    display: flex;
    min-height: 80%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    margin: 0 auto;
  
  }
  
  @media (min-width: 1100px) {
    .container {
      padding-left: 100px;
      padding-right: 100px;
      width: 1100px;
    }
  }
  .movingcar {
    position: absolute;
    top: 41%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }