
#loginchoice {
  position: absolute;
  top: 50%;
}
h6 {
  color: white;
  margin-top: 30%;
  
}



p {
  color: black;
  margin-top: 30%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 5%;
}
#home {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: -6%;
}
#login {
  background: #F7C243;
  margin: 2%;
}
#signoutbtn{
  background: #F7C243;
  margin: 2%;
}
#photodiv {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 10%;
}
#subhome{
  padding-top: 30%;
}
#newuser {
  background: #F7C243;
  margin: 2%;
  
}
#loginbuttons {
  width: 62%;
  margin-left: auto;
  margin-right: auto;
}
.container {
    display: flex;
    min-height: 80%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    margin: 0 auto;
  
  }
  .MainContainer {
    display: flex;
    background: bold 2px 2px #F7C243;
    border: 2px 4px black;
    min-height: 80%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    margin: 0 auto;
  }

  @media (min-width: 1100px) {
    .container {
      padding-left: 100px;
      padding-right: 100px;
      width: 1100px;
    }
  }
  .movingcar {
    position: absolute;
    top: 41%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
/* #first{
  width: 200px;
  height: 200px;
  margin-bottom: 2%;
  background: url("./car1.jpeg");
  background-size: 200px 200px;
  background-repeat: no-repeat;
}
#second{
  margin-top: 2%;
  width: 200px;
  height: 200px;
  background: url("./car2.jpeg");
  background-size: 200px 200px;
  background-repeat: no-repeat;
} */
.play{
  position: absolute;
  margin:-60px 0 0 -60px;
  top: 41%;
  left: 15%;
}
#navbuttons{
  padding: 10%;
}

.collection .collection-item.active{
  background: #F7C243;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
