body {
    margin: 20;
    padding: 20;
    font-family: sans-serif;
    font: 20px;
  }
  
  .dropPhoto {
    text-align: center;
    padding-top: 100px;
  }

  .droppedPhoto {
      width: 100%

  }

.FileUpload {
    width: 200px;
    padding-top: 100px;
    padding-left: 25%;
    
    
}
