  
  .navbar {
    border-radius: 6px; 
    margin-bottom: 20px;
    z-index:999999999;
    
}

.Countdown{
  margin: 50px auto;
  padding-bottom: 20px;
  padding-top: 40px;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 50px;
}
