  
  .navbar {
    border-radius: 6px; 
    margin-bottom: 80px;
    background: palegreen;
}

.Countdown{
  margin: 10px auto;
  padding-bottom: 50px;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 200px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 190px;
}
